

/* .n-intro{
    
height: 150vh;
width: 100%;
}
.i-name {
    margin-top: 10%;
    margin-left: 15%;
    width: 40%;
    font-size: 1rem;
    font: size 20px; ;


}
 */

/* body{
    
    background-image: url('../Image/image11.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    background-position: center;
    background-attachment: fixed; */


 
    

